In [25]:
from google.colab import files
uploaded = files.upload()

Saving charity_data.csv to charity_data (1).csv

## Preprocessing

In [26]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [27]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [29]:
# Determine the number of unique values in each column.
uniqueValues = application_df.nunique()
uniqueValues

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [30]:
# Look at APPLICATION_TYPE value counts for binning
APP_TYPE_Count = application_df['APPLICATION_TYPE'].nunique()
APP_TYPE_Count

17

In [37]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_counts_cutoff=application_df['APPLICATION_TYPE'].value_counts()

application_types_to_replace = app_counts_cutoff.loc[app_counts_cutoff<500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [43]:
# Look at CLASSIFICATION value counts for binning
Classificatoion_Cutoffs = application_df['CLASSIFICATION'].value_counts()

In [44]:
# You may find it helpful to look at CLASSIFICATION value counts >1
Classificatoion_Cutoffs.loc[Classificatoion_Cutoffs>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C0           3
C2710        3
C1260        3
C1256        2
C1246        2
C3200        2
C1234        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [45]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = Classificatoion_Cutoffs.loc[Classificatoion_Cutoffs<100].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [46]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df = pd.get_dummies(application_df)
app_dummies_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 50 columns]

In [47]:
# Split our preprocessed data into our features and target arrays
X = app_dummies_df.drop(columns=["IS_SUCCESSFUL"],axis =1)
y = app_dummies_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=35)

In [48]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=len(X_train.columns), activation ='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30,  activation ='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation ='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,461
Trainable params: 6,461
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [51]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5706 - accuracy: 0.7195
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7291
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7283
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7302
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7309
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7307
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7317
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7326
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7318
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7327
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7327
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7317
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7339
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7346
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7344
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7345
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7351
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7354
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7343
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7356
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7343
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7359
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7360
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7369
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7365
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7360
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7369
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7359
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7371
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7362
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7366
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7366
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7385
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7376
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7373
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7365
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7367
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7375
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7371
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7373
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7375
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7379
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7378
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7380
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7375
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7377
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7377
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7380
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7383
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7378
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7377
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7385
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7379
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7381
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7381
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7384
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7389
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7388
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7375
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7385
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7376
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7386
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7377
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7379
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7376
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7374
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7372
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7380
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7391
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7386
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7388
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7381
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7384
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7390
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7393
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7392
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7391
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7383
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7393
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7384
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7386
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7387
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7388
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7389
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7391
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7391
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7377
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7380
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7378
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7383
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7383
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7387
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7383
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7386
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7388
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7384

In [52]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5597 - accuracy: 0.7327 - 466ms/epoch - 2ms/step
Loss: 0.5597359538078308, Accuracy: 0.7327113747596741

In [53]:
# Export our model to HDF5 file
from google.colab import files

nn.save("AlphabetSoupCharity.h5")
files.download("AlphabetSoupCharity.h5")